@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
:root {
  --size-space-100: 4px;
}

.LP {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.LP .div {
  background-color: #ffffff;
  overflow-x: hidden;
  width: 390px;
  height: 11526px;
  position: relative;
}

.LP .overlap {
  position: absolute;
  width: 387px;
  height: 687px;
  top: 0;
  left: 3px;
}

.LP .container {
  position: absolute;
  width: 387px;
  height: 687px;
  top: 0;
  left: 0;
}

.LP .element {
  width: 386px;
  height: 687px;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.LP .group {
  position: absolute;
  width: 356px;
  height: 56px;
  top: 578px;
  left: 14px;
}

.LP .link {
  position: absolute;
  width: 131px;
  height: 52px;
  top: 4px;
  left: 0;
  background-color: #ffffff;
  border-radius: 50px;
  border: 2px solid;
  border-color: #333333;
}

.LP .overlap-group {
  position: relative;
  width: 196px;
  height: 43px;
  top: 2px;
  left: -32px;
}

.LP .text-wrapper {
  position: absolute;
  width: 196px;
  height: 24px;
  top: 19px;
  left: 0;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #646567;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .text-wrapper-2 {
  position: absolute;
  width: 196px;
  height: 24px;
  top: 0;
  left: 0;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #646567;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .div-wrapper {
  position: absolute;
  width: 220px;
  height: 56px;
  top: 0;
  left: 136px;
  background-color: #468beb;
  border-radius: 50px;
  box-shadow: 0px 4px 4px #00000040;
}

.LP .text-wrapper-3 {
  position: absolute;
  width: 180px;
  height: 24px;
  top: 14px;
  left: 20px;
  font-family: "Linefont-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .text-wrapper-4 {
  position: absolute;
  height: 39px;
  top: 13px;
  left: 39px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 38.4px;
  white-space: nowrap;
}

.LP .section {
  position: absolute;
  width: 390px;
  height: 703px;
  top: 747px;
  left: 0;
  background-color: #f5f5f7;
}

.LP .overlap-group-wrapper {
  position: relative;
  height: 652px;
  top: 51px;
}

.LP .overlap-group-2 {
  position: relative;
  width: 351px;
  height: 690px;
  top: -10px;
  left: 20px;
}

.LP .img {
  position: absolute;
  width: 141px;
  height: 133px;
  top: 0;
  left: 210px;
  object-fit: cover;
}

.LP .heading {
  width: 226px;
  height: 89px;
  top: 10px;
  position: absolute;
  left: 0;
}

.LP .text-wrapper-5 {
  position: absolute;
  width: 212px;
  height: 64px;
  top: 15px;
  left: 14px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 37.4px;
}

.LP .container-2 {
  position: absolute;
  width: 350px;
  height: 565px;
  top: 125px;
  left: 0;
}

.LP .paragraph-background {
  position: absolute;
  width: 350px;
  height: 82px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #0000000d;
}

.LP .text-wrapper-6 {
  position: absolute;
  width: 271px;
  height: 50px;
  top: 16px;
  left: 54px;
  font-family: "Noto Sans JP-DemiLight", Helvetica;
  font-weight: 300;
  color: #333333;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
}

.LP .select-check-box {
  top: 28px;
  position: absolute;
  width: 25px;
  height: 25px;
  left: 14px;
}

.LP .paragraph-background-2 {
  height: 82px;
  top: 392px;
  left: 0;
  position: absolute;
  width: 350px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #0000000d;
}

.LP .select-check-box-2 {
  top: 29px;
  position: absolute;
  width: 25px;
  height: 25px;
  left: 14px;
}

.LP .paragraph-background-3 {
  height: 82px;
  top: 98px;
  left: 0;
  position: absolute;
  width: 350px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #0000000d;
}

.LP .paragraph-background-4 {
  height: 82px;
  top: 196px;
  left: 0;
  position: absolute;
  width: 350px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #0000000d;
}

.LP .text-wrapper-7 {
  position: absolute;
  width: 271px;
  height: 50px;
  top: 15px;
  left: 54px;
  font-family: "Noto Sans JP-DemiLight", Helvetica;
  font-weight: 300;
  color: #333333;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
}

.LP .paragraph-background-5 {
  height: 82px;
  top: 294px;
  left: 0;
  position: absolute;
  width: 350px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #0000000d;
}

.LP .section-2 {
  position: absolute;
  width: 390px;
  height: 441px;
  top: 1450px;
  left: 0;
  background-color: #d4d4d4;
}

.LP .text-wrapper-8 {
  position: absolute;
  height: 58px;
  top: 47px;
  left: 51px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.LP .text-wrapper-9 {
  position: absolute;
  height: 58px;
  top: 334px;
  left: 15px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.LP .element-2 {
  position: absolute;
  width: 195px;
  height: 148px;
  top: 147px;
  left: 98px;
  object-fit: cover;
}

.LP .overlap-2 {
  position: absolute;
  width: 390px;
  height: 2158px;
  top: 1944px;
  left: 0;
}

.LP .section-3 {
  position: absolute;
  width: 390px;
  height: 1633px;
  top: 0;
  left: 0;
}

.LP .element-wrapper {
  position: absolute;
  width: 350px;
  height: 75px;
  top: 11px;
  left: 21px;
}

.LP .p {
  position: absolute;
  width: 333px;
  height: 78px;
  top: -3px;
  left: 8px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 28.8px;
  text-align: center;
  letter-spacing: 0;
  line-height: 37.4px;
}

.LP .span {
  color: #333333;
}

.LP .text-wrapper-10 {
  color: #ffd43b;
}

.LP .background-shadow {
  position: absolute;
  width: 350px;
  height: 238px;
  top: 138px;
  left: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
  box-shadow: 0px 5px 15px #0000000d;
}

.LP .overlap-3 {
  position: absolute;
  width: 311px;
  height: 92px;
  top: 16px;
  left: 20px;
}

.LP .heading-2 {
  width: 311px;
  height: 62px;
  top: 0;
  position: absolute;
  left: 0;
}

.LP .text-wrapper-11 {
  position: absolute;
  width: 243px;
  height: 66px;
  top: -3px;
  left: 34px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 31.2px;
}

.LP .text-wrapper-12 {
  position: absolute;
  width: 272px;
  height: 50px;
  top: 42px;
  left: 20px;
  font-family: "Noto Sans JP-DemiLight", Helvetica;
  font-weight: 300;
  color: #333333;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 25.6px;
}

.LP .overlap-group-3 {
  position: absolute;
  width: 301px;
  height: 95px;
  top: 109px;
  left: 25px;
  background-color: #d9d9d9;
}

.LP .text-wrapper-13 {
  position: absolute;
  height: 26px;
  top: 38px;
  left: 67px;
  font-family: "Noto Sans JP-DemiLight", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .background-shadow-2 {
  width: 350px;
  height: 238px;
  top: 1300px;
  left: 19px;
  border: 1px solid;
  border-color: #000000;
  position: absolute;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #0000000d;
}

.LP .overlap-4 {
  position: absolute;
  width: 332px;
  height: 108px;
  top: 10px;
  left: 12px;
}

.LP .text-wrapper-14 {
  position: absolute;
  width: 305px;
  height: 66px;
  top: 0;
  left: 9px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 23px;
}

.LP .text-wrapper-15 {
  position: absolute;
  width: 332px;
  height: 50px;
  top: 58px;
  left: 0;
  font-family: "Noto Sans JP-DemiLight", Helvetica;
  font-weight: 300;
  color: #333333;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 25.6px;
}

.LP .overlap-5 {
  position: absolute;
  width: 301px;
  height: 95px;
  top: 119px;
  left: 25px;
  background-color: #d9d9d9;
}

.LP .text-wrapper-16 {
  position: absolute;
  height: 26px;
  top: 34px;
  left: 67px;
  font-family: "Noto Sans JP-DemiLight", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .background-shadow-3 {
  width: 350px;
  height: 239px;
  top: 1009px;
  left: 21px;
  border: 1px solid;
  border-color: #000000;
  position: absolute;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #0000000d;
}

.LP .overlap-6 {
  position: absolute;
  width: 311px;
  height: 90px;
  top: 0;
  left: 20px;
}

.LP .text-wrapper-17 {
  position: absolute;
  width: 254px;
  height: 66px;
  top: -3px;
  left: 28px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 31.2px;
}

.LP .text-wrapper-18 {
  position: absolute;
  width: 236px;
  height: 50px;
  top: 40px;
  left: 38px;
  font-family: "Noto Sans JP-DemiLight", Helvetica;
  font-weight: 300;
  color: #333333;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 25.6px;
}

.LP .overlap-7 {
  position: absolute;
  width: 301px;
  height: 95px;
  top: 93px;
  left: 25px;
  background-color: #d9d9d9;
}

.LP .background-shadow-4 {
  width: 350px;
  height: 238px;
  top: 719px;
  left: 22px;
  border: 1px solid;
  border-color: #000000;
  position: absolute;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #0000000d;
}

.LP .overlap-8 {
  position: absolute;
  width: 333px;
  height: 90px;
  top: 17px;
  left: 9px;
}

.LP .heading-3 {
  position: absolute;
  width: 311px;
  height: 62px;
  top: 0;
  left: 10px;
}

.LP .text-wrapper-19 {
  position: absolute;
  width: 286px;
  height: 66px;
  top: -3px;
  left: 12px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 31.2px;
}

.LP .text-wrapper-20 {
  position: absolute;
  width: 333px;
  height: 50px;
  top: 40px;
  left: 0;
  font-family: "Noto Sans JP-DemiLight", Helvetica;
  font-weight: 300;
  color: #333333;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 25.6px;
}

.LP .overlap-9 {
  position: absolute;
  width: 301px;
  height: 95px;
  top: 110px;
  left: 25px;
  background-color: #d9d9d9;
}

.LP .background-shadow-5 {
  width: 350px;
  height: 239px;
  top: 428px;
  left: 21px;
  border: 1px solid;
  border-color: #000000;
  position: absolute;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #0000000d;
}

.LP .overlap-10 {
  position: absolute;
  width: 320px;
  height: 80px;
  top: 25px;
  left: 29px;
}

.LP .heading-4 {
  position: absolute;
  width: 253px;
  height: 62px;
  top: 0;
  left: 20px;
}

.LP .text-wrapper-21 {
  position: absolute;
  width: 318px;
  height: 66px;
  top: -7px;
  left: -32px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 31.2px;
}

.LP .text-wrapper-22 {
  position: absolute;
  width: 320px;
  height: 38px;
  top: 42px;
  left: 0;
  font-family: "Noto Sans JP-DemiLight", Helvetica;
  font-weight: 300;
  color: #333333;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 25.6px;
}

.LP .overlap-11 {
  position: absolute;
  width: 301px;
  height: 95px;
  top: 119px;
  left: 24px;
  background-color: #d9d9d9;
}

.LP .text-wrapper-23 {
  position: absolute;
  height: 26px;
  top: 34px;
  left: 68px;
  font-family: "Noto Sans JP-DemiLight", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .container-wrapper {
  position: absolute;
  width: 390px;
  height: 567px;
  top: 1591px;
  left: 0;
  background-color: #f5f5f7;
}

.LP .container-3 {
  position: relative;
  height: 507px;
  top: 23px;
}

.LP .table {
  position: absolute;
  width: 350px;
  height: 300px;
  top: 173px;
  left: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 5px 15px #0000000d;
}

.LP .overlap-group-4 {
  position: relative;
  height: 299px;
  top: 1px;
}

.LP .header-row {
  position: absolute;
  width: 350px;
  height: 68px;
  top: 0;
  left: 0;
}

.LP .cell {
  width: 72px;
  left: 0;
  background-color: #c1bdb0;
  position: absolute;
  height: 68px;
  top: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #e0e0e0;
}

.LP .cell-2 {
  width: 114px;
  left: 72px;
  background-color: #c1bdb0;
  position: absolute;
  height: 68px;
  top: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #e0e0e0;
}

.LP .text-wrapper-24 {
  position: absolute;
  width: 99px;
  height: 48px;
  top: 9px;
  left: 15px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.LP .cell-3 {
  width: 164px;
  left: 186px;
  background-color: #f5bf00;
  position: absolute;
  height: 68px;
  top: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #e0e0e0;
}

.LP .text-wrapper-25 {
  position: absolute;
  width: 66px;
  height: 24px;
  top: 21px;
  left: 49px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.LP .body {
  position: absolute;
  width: 350px;
  height: 231px;
  top: 68px;
  left: 0;
}

.LP .row {
  height: 69px;
  top: 0;
  position: absolute;
  width: 350px;
  left: 0;
}

.LP .data {
  position: absolute;
  width: 72px;
  height: 69px;
  top: 0;
  left: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #e0e0e0;
}

.LP .strong {
  position: absolute;
  width: 32px;
  height: 24px;
  top: 22px;
  left: 15px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.LP .data-2 {
  position: absolute;
  width: 114px;
  height: 69px;
  top: 0;
  left: 72px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #e0e0e0;
}

.LP .text-wrapper-26 {
  position: absolute;
  width: 80px;
  height: 24px;
  top: 22px;
  left: 15px;
  font-family: "Noto Sans JP-DemiLight", Helvetica;
  font-weight: 300;
  color: #333333;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.LP .data-3 {
  position: absolute;
  width: 164px;
  height: 69px;
  top: 0;
  left: 186px;
  background-color: #ffefb8bf;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #e0e0e0;
}

.LP .text-wrapper-27 {
  position: absolute;
  width: 81px;
  height: 48px;
  top: 10px;
  left: 41px;
  font-family: "Noto Sans JP-Medium", Helvetica;
  font-weight: 500;
  color: #333333;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.LP .row-2 {
  height: 69px;
  top: 69px;
  position: absolute;
  width: 350px;
  left: 0;
}

.LP .strong-2 {
  position: relative;
  width: 32px;
  height: 48px;
  top: 10px;
  left: 15px;
}

.LP .text-wrapper-28 {
  position: absolute;
  width: 32px;
  height: 48px;
  top: -1px;
  left: 0;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.LP .text-wrapper-29 {
  position: absolute;
  width: 70px;
  height: 48px;
  top: 10px;
  left: 22px;
  font-family: "Noto Sans JP-DemiLight", Helvetica;
  font-weight: 300;
  color: #333333;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.LP .text-wrapper-30 {
  position: absolute;
  width: 159px;
  height: 48px;
  top: 10px;
  left: 7px;
  font-family: "Noto Sans JP-Medium", Helvetica;
  font-weight: 500;
  color: #333333;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.LP .row-3 {
  height: 92px;
  top: 138px;
  position: absolute;
  width: 350px;
  left: 0;
}

.LP .data-strong {
  position: absolute;
  width: 32px;
  height: 72px;
  top: 10px;
  left: 15px;
}

.LP .text-wrapper-31 {
  position: absolute;
  width: 54px;
  height: 72px;
  top: 0;
  left: 0;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.LP .data-4 {
  position: absolute;
  width: 99px;
  height: 24px;
  top: 28px;
  left: 81px;
  font-family: "Noto Sans JP-DemiLight", Helvetica;
  font-weight: 300;
  color: #333333;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.LP .data-5 {
  position: absolute;
  width: 164px;
  height: 92px;
  top: 0;
  left: 186px;
  background-color: #ffefb8bf;
}

.LP .text-wrapper-32 {
  position: absolute;
  width: 128px;
  height: 72px;
  top: 9px;
  left: 18px;
  font-family: "Noto Sans JP-Medium", Helvetica;
  font-weight: 500;
  color: #333333;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.LP .overlap-12 {
  position: absolute;
  width: 384px;
  height: 120px;
  top: 10px;
  left: 3px;
}

.LP .text-wrapper-33 {
  position: absolute;
  height: 46px;
  top: 74px;
  left: 22px;
  font-family: "Noto Sans JP-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 23px;
}

.LP .text-wrapper-34 {
  position: absolute;
  width: 384px;
  height: 79px;
  top: 0;
  left: 0;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 37.4px;
}

.LP .section-4 {
  position: absolute;
  width: 390px;
  height: 2479px;
  top: 4160px;
  left: 1px;
  background-color: #ffffff;
}

.LP .group-2 {
  position: absolute;
  width: 350px;
  height: 1137px;
  top: 0;
  left: 19px;
}

.LP .container-4 {
  position: absolute;
  width: 350px;
  height: 784px;
  top: 0;
  left: 0;
}

.LP .heading-5 {
  position: absolute;
  width: 116px;
  height: 41px;
  top: -1px;
  left: 117px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 28.8px;
  text-align: center;
  letter-spacing: 0;
  line-height: 37.4px;
  white-space: nowrap;
}

.LP .background-shadow-6 {
  width: 350px;
  height: 213px;
  top: 79px;
  left: 0;
  position: absolute;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #0000000d;
}

.LP .group-wrapper {
  position: absolute;
  width: 311px;
  height: 94px;
  top: 18px;
  left: 15px;
}

.LP .overlap-wrapper {
  width: 313px;
  height: 94px;
}

.LP .overlap-13 {
  position: relative;
  width: 315px;
  height: 94px;
}

.LP .text-wrapper-35 {
  position: absolute;
  height: 26px;
  top: 59px;
  left: 94px;
  font-family: "Noto Sans JP-DemiLight", Helvetica;
  font-weight: 300;
  color: #333333;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .group-3 {
  position: absolute;
  width: 315px;
  height: 94px;
  top: 0;
  left: 0;
}

.LP .img-wrapper {
  position: absolute;
  width: 94px;
  top: 0;
  left: 0;
  height: 94px;
  border-radius: 75px;
  overflow: hidden;
  border: 5px solid;
  border-color: #f5f5f7;
}

.LP .taji {
  position: absolute;
  width: 91px;
  height: 91px;
  top: 3px;
  left: 0;
  object-fit: cover;
}

.LP .overlap-group-5 {
  position: absolute;
  width: 217px;
  height: 55px;
  top: 6px;
  left: 94px;
}

.LP .heading-6 {
  position: absolute;
  height: 32px;
  top: 0;
  left: 0;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 31.2px;
  white-space: nowrap;
}

.LP .text-wrapper-36 {
  position: absolute;
  height: 26px;
  top: 29px;
  left: 0;
  font-family: "Noto Sans JP-DemiLight", Helvetica;
  font-weight: 300;
  color: #333333;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .element-3 {
  position: absolute;
  width: 290px;
  height: 50px;
  top: 135px;
  left: 36px;
  font-family: "Noto Sans JP-DemiLight", Helvetica;
  font-weight: 300;
  color: #333333;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.6px;
}

.LP .background-shadow-7 {
  width: 350px;
  height: 217px;
  top: 319px;
  left: 0;
  position: absolute;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #0000000d;
}

.LP .overlap-14 {
  position: relative;
  width: 307px;
  height: 161px;
  top: 24px;
  left: 15px;
}

.LP .group-4 {
  position: absolute;
  width: 307px;
  height: 161px;
  top: 0;
  left: 0;
}

.LP .element-4 {
  width: 90px;
  height: 90px;
  top: 2px;
  left: 2px;
  position: absolute;
  object-fit: cover;
}

.LP .text-wrapper-37 {
  position: absolute;
  width: 290px;
  height: 50px;
  top: 111px;
  left: 15px;
  font-family: "Noto Sans JP-DemiLight", Helvetica;
  font-weight: 300;
  color: #333333;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.6px;
}

.LP .text-wrapper-38 {
  position: absolute;
  height: 26px;
  top: 59px;
  left: 97px;
  font-family: "Noto Sans JP-DemiLight", Helvetica;
  font-weight: 300;
  color: #333333;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .heading-7 {
  position: absolute;
  height: 32px;
  top: 7px;
  left: 97px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 31.2px;
  white-space: nowrap;
}

.LP .text-wrapper-39 {
  position: absolute;
  height: 26px;
  top: 33px;
  left: 97px;
  font-family: "Noto Sans JP-DemiLight", Helvetica;
  font-weight: 300;
  color: #333333;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .background-shadow-8 {
  width: 350px;
  height: 221px;
  top: 563px;
  left: 0;
  position: absolute;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #0000000d;
}

.LP .group-5 {
  position: absolute;
  width: 94px;
  height: 94px;
  top: 19px;
  left: 0;
}

.LP .img-2 {
  position: relative;
  height: 94px;
  border-radius: 75px;
  overflow: hidden;
  border: 5px solid;
  border-color: #f5f5f7;
}

.LP .element-5 {
  width: 88px;
  height: 91px;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.LP .element-6 {
  position: absolute;
  width: 290px;
  height: 50px;
  top: 143px;
  left: 30px;
  font-family: "Noto Sans JP-DemiLight", Helvetica;
  font-weight: 300;
  color: #333333;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.6px;
}

.LP .overlap-15 {
  position: absolute;
  width: 256px;
  height: 78px;
  top: 32px;
  left: 94px;
}

.LP .text-wrapper-40 {
  position: absolute;
  height: 26px;
  top: 52px;
  left: 2px;
  font-family: "Noto Sans JP-DemiLight", Helvetica;
  font-weight: 300;
  color: #333333;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .group-6 {
  position: absolute;
  width: 256px;
  height: 55px;
  top: 0;
  left: 0;
}

.LP .overlap-group-6 {
  position: relative;
  width: 252px;
  height: 55px;
}

.LP .text-wrapper-41 {
  position: absolute;
  height: 26px;
  top: 29px;
  left: 2px;
  font-family: "Noto Sans JP-DemiLight", Helvetica;
  font-weight: 300;
  color: #333333;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .group-7 {
  position: absolute;
  width: 326px;
  height: 315px;
  top: 822px;
  left: 13px;
}

.LP .frame {
  display: flex;
  width: 319px;
  align-items: center;
  justify-content: space-between;
  top: 252px;
  position: absolute;
  left: 1px;
}

.LP .img-3 {
  position: relative;
  width: 60px;
  height: 63px;
  object-fit: cover;
}

.LP .frame-2 {
  display: flex;
  width: 323px;
  align-items: center;
  justify-content: space-between;
  top: 177px;
  position: absolute;
  left: 1px;
}

.LP .frame-3 {
  display: flex;
  width: 323px;
  height: 63px;
  align-items: center;
  justify-content: space-between;
  padding: 0px var(--size-space-100) 0px var(--size-space-100);
  top: 102px;
  position: absolute;
  left: 1px;
}

.LP .instagram {
  position: absolute;
  height: 63px;
  top: 0;
  left: 0;
  font-family: "Noto Sans JP-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 31.2px;
}

.LP .section-5 {
  position: absolute;
  width: 390px;
  height: 1256px;
  top: 1223px;
  left: 0;
  background-color: #ececec;
}

.LP .background-shadow-9 {
  width: 349px;
  height: 335px;
  top: 107px;
  left: 20px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #0000000d;
}

.LP .heading-8 {
  position: absolute;
  width: 289px;
  height: 62px;
  top: 12px;
  left: 30px;
}

.LP .text-wrapper-42 {
  position: absolute;
  width: 222px;
  height: 25px;
  top: 17px;
  left: 34px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #4a4e9c;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.LP .image {
  position: absolute;
  width: 304px;
  height: 156px;
  top: 158px;
  left: 22px;
  object-fit: cover;
}

.LP .AI {
  height: 66px;
  top: 80px;
  left: 14px;
  font-family: "Noto Sans JP-Regular", Helvetica;
  color: #000000;
  font-size: 14px;
  line-height: 22px;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.LP .background-shadow-10 {
  width: 349px;
  height: 339px;
  top: 488px;
  left: 20px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #0000000d;
}

.LP .overlap-group-7 {
  position: absolute;
  width: 307px;
  height: 127px;
  top: 12px;
  left: 21px;
}

.LP .heading-9 {
  position: absolute;
  width: 289px;
  height: 62px;
  top: 0;
  left: 9px;
}

.LP .text-wrapper-43 {
  position: absolute;
  height: 24px;
  top: 18px;
  left: -15px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #4a4e9c;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.LP .text-wrapper-44 {
  position: absolute;
  height: 66px;
  top: 61px;
  left: 0;
  font-family: "Noto Sans JP-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
}

.LP .element-7 {
  position: absolute;
  width: 287px;
  height: 147px;
  top: 161px;
  left: 29px;
  object-fit: cover;
}

.LP .background-shadow-11 {
  width: 349px;
  height: 340px;
  top: 872px;
  left: 21px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #0000000d;
}

.LP .element-8 {
  position: absolute;
  width: 291px;
  height: 149px;
  top: 163px;
  left: 29px;
  object-fit: cover;
}

.LP .text-wrapper-45 {
  position: absolute;
  height: 48px;
  top: 22px;
  left: 55px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #4a4e9c;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.LP .text-wrapper-46 {
  position: absolute;
  height: 66px;
  top: 83px;
  left: 15px;
  font-family: "Noto Sans JP-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: -0.70px;
  line-height: 22px;
}

.LP .heading-10 {
  position: absolute;
  width: 350px;
  height: 41px;
  top: 26px;
  left: 20px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 28.8px;
  text-align: center;
  letter-spacing: 0;
  line-height: 37.4px;
  white-space: nowrap;
}

.LP .section-6 {
  position: absolute;
  width: 351px;
  height: 1564px;
  top: 6708px;
  left: 20px;
}

.LP .heading-11 {
  position: absolute;
  width: 350px;
  height: 41px;
  top: -1px;
  left: 0;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 28.8px;
  text-align: center;
  letter-spacing: 0;
  line-height: 37.4px;
  white-space: nowrap;
}

.LP .paragraph-background-6 {
  height: 338px;
  top: 128px;
  left: 1px;
  border: 1px solid;
  border-color: #000000;
  position: absolute;
  width: 350px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #0000000d;
}

.LP .div-2 {
  position: absolute;
  width: 319px;
  height: 308px;
  top: 14px;
  left: 16px;
  font-family: "Noto Sans JP-Light", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
}

.LP .text-wrapper-47 {
  font-weight: 300;
}

.LP .text-wrapper-48 {
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
}

.LP .group-8 {
  position: absolute;
  width: 302px;
  height: 55px;
  top: 53px;
  left: 1px;
}

.LP .group-9 {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 0;
  left: 0;
  background-image: url(./img/481680714-3753573164788203-5955294749499003306-n.png);
  background-size: cover;
  background-position: 50% 50%;
}

.LP .group-10 {
  position: absolute;
  width: 238px;
  height: 42px;
  top: 9px;
  left: 68px;
}

.LP .text-wrapper-49 {
  position: absolute;
  height: 26px;
  top: 0;
  left: 0;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .text-wrapper-50 {
  position: absolute;
  width: 118px;
  height: 16px;
  top: 26px;
  left: 0;
  font-family: "Noto Sans JP-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .frame-4 {
  width: 350px;
  height: 419px;
  top: 523px;
  position: absolute;
  left: 1px;
}

.LP .zoom-wrapper {
  height: 350px;
  top: 69px;
  left: 0;
  border: 1px solid;
  border-color: #000000;
  position: absolute;
  width: 350px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #0000000d;
}

.LP .zoom {
  width: 319px;
  height: 308px;
  top: 20px;
  left: 15px;
  font-family: "Noto Sans JP-Light", Helvetica;
  color: #333333;
  font-size: 16px;
  line-height: 25.6px;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.LP .paragraph-background-7 {
  height: 170px;
  top: 519px;
  left: 0;
  border: 1px solid;
  border-color: #000000;
  position: absolute;
  width: 350px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #0000000d;
}

.LP .element-9 {
  position: absolute;
  width: 319px;
  height: 128px;
  top: 20px;
  left: 15px;
  font-family: "Noto Sans JP-Light", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
}

.LP .group-11 {
  position: absolute;
  width: 327px;
  height: 55px;
  top: 0;
  left: 0;
}

.LP .group-12 {
  position: absolute;
  width: 262px;
  height: 42px;
  top: 4px;
  left: 65px;
}

.LP .group-13 {
  width: 266px;
  position: relative;
  height: 42px;
}

.LP .element-10 {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.LP .group-14 {
  position: absolute;
  width: 295px;
  height: 55px;
  top: 979px;
  left: 1px;
}

.LP .group-15 {
  position: absolute;
  width: 230px;
  height: 42px;
  top: 2px;
  left: 65px;
}

.LP .group-16 {
  height: 42px;
}

.LP .group-17 {
  width: 234px;
  position: relative;
  height: 42px;
}

.LP .group-18 {
  position: absolute;
  width: 353px;
  height: 296px;
  top: 1241px;
  left: -2px;
}

.LP .paragraph-background-8 {
  height: 224px;
  top: 72px;
  left: 3px;
  border: 1px solid;
  border-color: #000000;
  position: absolute;
  width: 350px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #0000000d;
}

.LP .div-3 {
  position: absolute;
  width: 319px;
  height: 180px;
  top: 21px;
  left: 15px;
  font-family: "Noto Sans JP-Light", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
}

.LP .group-19 {
  position: absolute;
  width: 349px;
  height: 55px;
  top: 0;
  left: 0;
}

.LP .group-20 {
  position: absolute;
  width: 290px;
  height: 42px;
  top: 5px;
  left: 59px;
}

.LP .group-21 {
  width: 294px;
  position: relative;
  height: 42px;
}

.LP .text-wrapper-51 {
  position: absolute;
  height: 26px;
  top: 0;
  left: 0;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .group-22 {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 0;
  left: 0;
  background-image: url(./img/481941268-1819339802235121-5501376926826181125-n.png);
  background-size: cover;
  background-position: 50% 50%;
}

.LP .section-7 {
  position: absolute;
  width: 390px;
  height: 1177px;
  top: 8364px;
  left: 0;
}

.LP .heading-12 {
  position: absolute;
  width: 231px;
  height: 41px;
  top: -3px;
  left: 80px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 28.8px;
  text-align: center;
  letter-spacing: 0;
  line-height: 37.4px;
  white-space: nowrap;
}

.LP .background-border {
  position: absolute;
  width: 350px;
  height: 517px;
  top: 667px;
  left: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid;
  border-color: #e0e0e0;
  box-shadow: 0px 5px 15px #0000000d;
}

.LP .heading-13 {
  position: absolute;
  width: 216px;
  height: 35px;
  top: 38px;
  left: 67px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 31.2px;
  white-space: nowrap;
}

.LP .group-23 {
  position: absolute;
  width: 178px;
  height: 64px;
  top: 94px;
  left: 88px;
}

.LP .text-wrapper-52 {
  position: absolute;
  width: 149px;
  height: 64px;
  top: 0;
  left: 0;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #478beb;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: 64px;
  white-space: nowrap;
}

.LP .text-wrapper-53 {
  position: absolute;
  width: 23px;
  height: 24px;
  top: 30px;
  left: 151px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #666666;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .strong-3 {
  position: absolute;
  width: 202px;
  height: 24px;
  top: 175px;
  left: 74px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .list {
  position: absolute;
  width: 300px;
  height: 133px;
  top: 233px;
  left: 18px;
}

.LP .item {
  position: absolute;
  width: 286px;
  height: 26px;
  top: 0;
  left: 14px;
}

.LP .text-wrapper-54 {
  position: absolute;
  width: 12px;
  height: 26px;
  top: -1px;
  left: 0;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #4caf50;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .text-wrapper-55 {
  position: absolute;
  width: 213px;
  height: 24px;
  top: -1px;
  left: 30px;
  font-family: "Noto Sans JP-DemiLight", Helvetica;
  font-weight: 300;
  color: #333333;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .item-2 {
  position: absolute;
  width: 286px;
  height: 26px;
  top: 101px;
  left: 14px;
}

.LP .text-wrapper-56 {
  position: absolute;
  width: 12px;
  height: 26px;
  top: -1px;
  left: 0;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .item-3 {
  position: absolute;
  width: 286px;
  height: 26px;
  top: 36px;
  left: 14px;
}

.LP .text-wrapper-57 {
  position: absolute;
  width: 211px;
  height: 26px;
  top: -1px;
  left: 29px;
  font-family: "Noto Sans JP-DemiLight", Helvetica;
  font-weight: 300;
  color: #333333;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
}

.LP .strong-4 {
  top: 72px;
  left: 44px;
  position: absolute;
  width: 202px;
  height: 24px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .item-4 {
  position: absolute;
  width: 286px;
  height: 26px;
  top: 366px;
  left: 32px;
}

.LP .link-2 {
  position: absolute;
  width: 286px;
  height: 60px;
  top: 405px;
  left: 32px;
  background-color: #ffffff;
  border-radius: 50px;
  border: 2px solid;
  border-color: #478beb;
}

.LP .text-wrapper-58 {
  position: absolute;
  width: 202px;
  height: 24px;
  top: 15px;
  left: 42px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #478beb;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .background-border-2 {
  position: absolute;
  width: 350px;
  height: 552px;
  top: 77px;
  left: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid;
  border-color: #478beb;
  box-shadow: 0px 5px 15px #0000000d;
}

.LP .heading-14 {
  position: absolute;
  width: 198px;
  height: 35px;
  top: 38px;
  left: 76px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 31.2px;
  white-space: nowrap;
}

.LP .overlap-group-8 {
  position: absolute;
  width: 235px;
  height: 64px;
  top: 91px;
  left: 57px;
}

.LP .text-wrapper-59 {
  position: absolute;
  width: 171px;
  height: 64px;
  top: 0;
  left: 0;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #478beb;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: 64px;
  white-space: nowrap;
}

.LP .text-wrapper-60 {
  position: absolute;
  width: 64px;
  height: 24px;
  top: 30px;
  left: 171px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #666666;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .strong-5 {
  position: absolute;
  width: 270px;
  height: 24px;
  top: 170px;
  left: 40px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .background {
  position: absolute;
  width: 108px;
  height: 34px;
  top: -17px;
  left: 210px;
  background-color: #ffd43b;
  border-radius: 20px;
}

.LP .text-wrapper-61 {
  position: absolute;
  width: 63px;
  height: 20px;
  top: 6px;
  left: 22px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20.5px;
  white-space: nowrap;
}

.LP .list-2 {
  display: flex;
  flex-direction: column;
  width: 286px;
  align-items: flex-start;
  justify-content: center;
  gap: 9px;
  position: absolute;
  top: 211px;
  left: 32px;
}

.LP .item-5 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 25.59px;
}

.LP .text-wrapper-62 {
  position: absolute;
  width: 211px;
  height: 24px;
  top: -1px;
  left: 30px;
  font-family: "Noto Sans JP-DemiLight", Helvetica;
  font-weight: 300;
  color: #333333;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .text-wrapper-63 {
  position: absolute;
  width: 295px;
  height: 24px;
  top: -1px;
  left: 30px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .text-wrapper-64 {
  position: absolute;
  width: 224px;
  height: 24px;
  top: -1px;
  left: 30px;
  font-family: "Noto Sans JP-DemiLight", Helvetica;
  font-weight: 300;
  color: #333333;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .strong-6 {
  top: 318px;
  left: 71px;
  position: absolute;
  width: 202px;
  height: 24px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .link-3 {
  position: absolute;
  width: 286px;
  height: 60px;
  top: 441px;
  left: 32px;
  background-color: #478beb;
  border-radius: 50px;
}

.LP .text-wrapper-65 {
  position: absolute;
  width: 144px;
  height: 24px;
  top: 15px;
  left: 71px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .item-6 {
  position: absolute;
  width: 286px;
  height: 26px;
  top: 357px;
  left: 32px;
}

.LP .item-7 {
  position: absolute;
  width: 286px;
  height: 26px;
  top: 383px;
  left: 32px;
}

.LP .section-8 {
  position: absolute;
  width: 390px;
  height: 1264px;
  top: 9613px;
  left: 0;
  background-color: #f5f5f7;
}

.LP .overlap-16 {
  position: relative;
  width: 350px;
  height: 1173px;
  top: 21px;
  left: 20px;
}

.LP .container-5 {
  position: absolute;
  width: 350px;
  height: 1136px;
  top: 37px;
  left: 0;
}

.LP .heading-15 {
  position: absolute;
  width: 173px;
  height: 41px;
  top: -1px;
  left: 89px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 28.8px;
  text-align: center;
  letter-spacing: 0;
  line-height: 37.4px;
  white-space: nowrap;
}

.LP .container-6 {
  position: absolute;
  width: 350px;
  height: 1057px;
  top: 79px;
  left: 0;
}

.LP .background-shadow-12 {
  width: 350px;
  height: 222px;
  top: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #0000000d;
}

.LP .text-wrapper-66 {
  width: 251px;
  top: 26px;
  position: absolute;
  height: 24px;
  left: 20px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .horizontal-border {
  position: absolute;
  width: 350px;
  height: 143px;
  top: 78px;
  left: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #e0e0e0;
}

.LP .a {
  width: 304px;
  height: 126px;
  top: 8px;
  left: 23px;
  font-family: "Noto Sans JP-Light", Helvetica;
  position: absolute;
  font-weight: 400;
  color: #333333;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
}

.LP .background-shadow-13 {
  width: 350px;
  height: 278px;
  top: 237px;
  left: 0;
  overflow: hidden;
  position: absolute;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #0000000d;
}

.LP .text-wrapper-67 {
  width: 238px;
  top: 25px;
  position: absolute;
  height: 24px;
  left: 20px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .a-wrapper {
  height: 190px;
  top: 79px;
  position: absolute;
  width: 350px;
  left: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #e0e0e0;
}

.LP .a-2 {
  width: 306px;
  height: 177px;
  top: 5px;
  left: 22px;
  font-family: "Noto Sans JP-Light", Helvetica;
  position: absolute;
  font-weight: 400;
  color: #333333;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
}

.LP .background-shadow-14 {
  width: 350px;
  height: 247px;
  top: 533px;
  left: 0;
  overflow: hidden;
  position: absolute;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #0000000d;
}

.LP .text-wrapper-68 {
  width: 240px;
  top: 25px;
  position: absolute;
  height: 24px;
  left: 20px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .horizontal-border-2 {
  height: 169px;
  top: 78px;
  position: absolute;
  width: 350px;
  left: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #e0e0e0;
}

.LP .a-3 {
  width: 304px;
  height: 126px;
  top: 20px;
  left: 23px;
  font-family: "Noto Sans JP-Light", Helvetica;
  position: absolute;
  font-weight: 400;
  color: #333333;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
}

.LP .background-shadow-15 {
  width: 350px;
  height: 261px;
  top: 796px;
  left: 0;
  overflow: hidden;
  position: absolute;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #0000000d;
}

.LP .text-wrapper-69 {
  width: 235px;
  top: 26px;
  position: absolute;
  height: 24px;
  left: 20px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .a-PC-zoom-zoom-wrapper {
  height: 183px;
  top: 78px;
  position: absolute;
  width: 350px;
  left: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #e0e0e0;
}

.LP .a-PC-zoom-zoom {
  width: 303px;
  height: 154px;
  top: 15px;
  left: 26px;
  font-family: "Noto Sans JP-Regular", Helvetica;
  position: absolute;
  font-weight: 400;
  color: #333333;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
}

.LP .text-wrapper-70 {
  font-family: "Noto Sans JP-Regular", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
}

.LP .text-wrapper-71 {
  font-family: "Noto Sans JP-Light", Helvetica;
  font-weight: 300;
}

.LP .heading-16 {
  position: absolute;
  height: 38px;
  top: 0;
  left: 156px;
  font-family: "Noto Sans JP-Regular", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 37.4px;
  white-space: nowrap;
}

.LP .section-9 {
  position: absolute;
  width: 390px;
  height: 649px;
  top: 10877px;
  left: 0;
  background-color: #a4a4a4;
}

.LP .heading-17 {
  position: absolute;
  width: 349px;
  height: 188px;
  top: 21px;
  left: 15px;
}

.LP .text-wrapper-72 {
  position: absolute;
  width: 349px;
  height: 188px;
  top: -1px;
  left: 0;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: 37.4px;
}

.LP .text-wrapper-73 {
  position: absolute;
  width: 335px;
  height: 50px;
  top: 221px;
  left: 23px;
  font-family: "Noto Sans JP-DemiLight", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.6px;
}

.LP .strong-7 {
  position: absolute;
  width: 371px;
  height: 50px;
  top: 289px;
  left: 23px;
}

.LP .text-wrapper-74 {
  position: absolute;
  width: 411px;
  height: 50px;
  top: -1px;
  left: -40px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.6px;
}

.LP .link-4 {
  position: absolute;
  width: 127px;
  height: 60px;
  top: 350px;
  left: 10px;
  background-color: #ffffff;
  border-radius: 50px;
  border: 2px solid;
  border-color: #478beb;
}

.LP .overlap-group-9 {
  position: relative;
  width: 196px;
  height: 45px;
  top: 4px;
  left: -34px;
}

.LP .text-wrapper-75 {
  position: absolute;
  width: 196px;
  height: 24px;
  top: 21px;
  left: 0;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #478beb;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .text-wrapper-76 {
  position: absolute;
  width: 196px;
  height: 24px;
  top: 0;
  left: 0;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #478beb;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .link-5 {
  position: absolute;
  width: 226px;
  height: 64px;
  top: 346px;
  left: 144px;
  background-color: #478beb;
  border-radius: 50px;
  box-shadow: 0px 4px 4px #00000040;
}

.LP .text-wrapper-77 {
  position: absolute;
  width: 180px;
  height: 24px;
  top: 18px;
  left: 23px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .footer {
  position: absolute;
  width: 390px;
  height: 202px;
  top: 447px;
  left: 0;
  background-color: #ffde59;
}

.LP .container-7 {
  position: relative;
  width: 390px;
  height: 147px;
  top: 27px;
}

.LP .link-6 {
  position: absolute;
  width: 192px;
  height: 26px;
  top: 66px;
  left: 99px;
}

.LP .text-wrapper-78 {
  position: absolute;
  width: 192px;
  height: 24px;
  top: -1px;
  left: 0;
  font-family: "Noto Sans JP-DemiLight", Helvetica;
  font-weight: 300;
  color: #333333;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .link-7 {
  position: absolute;
  width: 160px;
  height: 26px;
  top: 33px;
  left: 115px;
}

.LP .text-wrapper-79 {
  position: absolute;
  width: 160px;
  height: 24px;
  top: -1px;
  left: 0;
  font-family: "Noto Sans JP-DemiLight", Helvetica;
  font-weight: 300;
  color: #333333;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .link-8 {
  position: absolute;
  width: 64px;
  height: 26px;
  top: 0;
  left: 163px;
}

.LP .text-wrapper-80 {
  position: absolute;
  width: 64px;
  height: 24px;
  top: -1px;
  left: 0;
  font-family: "Noto Sans JP-DemiLight", Helvetica;
  font-weight: 300;
  color: #333333;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.LP .text-wrapper-81 {
  position: absolute;
  width: 301px;
  height: 21px;
  top: 125px;
  left: 44px;
  opacity: 0.8;
  font-family: "Noto Sans JP-DemiLight", Helvetica;
  font-weight: 300;
  color: #333333;
  font-size: 14.4px;
  text-align: center;
  letter-spacing: 0;
  line-height: 23.0px;
  white-space: nowrap;
}

.LP .rectangle {
  position: fixed;
  width: 390px;
  height: 67px;
  top: 0;
  left: 0;
  background-color: #ffde59;
}

.LP .rectangle-2 {
  position: fixed;
  width: 121px;
  height: 48px;
  top: 14px;
  left: 259px;
  background-color: #b2b1ae;
  border-radius: 6px;
}

.LP .rectangle-3 {
  position: fixed;
  width: 121px;
  height: 48px;
  top: 10px;
  left: 255px;
  background-color: #478beb;
  border-radius: 6px;
}

.LP .link-9 {
  position: fixed;
  height: 39px;
  top: 4px;
  left: 15px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 38.4px;
  white-space: nowrap;
}

.LP .link-10 {
  position: fixed;
  height: 39px;
  top: 27px;
  left: 15px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 38.4px;
  white-space: nowrap;
}

.LP .link-11 {
  position: fixed;
  height: 36px;
  top: 15px;
  left: 268px;
  font-family: "Noto Sans JP-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
}
